<mat-card>
    <mat-card-title>Edit Profile</mat-card-title>
    <mat-card-content>


        <div class="alert alert-success alert-dismissible" *ngIf="userSubmitStatus"
            style="padding:10px; margin-bottom:10px">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> {{userSuccessUpdate}}
        </div>

        <div class="alert alert-success alert-dismissible" *ngIf="userDeleteStatus"
            style="padding:10px; margin-bottom:10px">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> User deleted successfully.
        </div>



        <form [formGroup]="userForm" (ngSubmit)="onUserUpdate()" *ngIf="!loading">

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>First Name </mat-label>
                    <input matInput placeholder="Enter your name" formControlName="firstName" [value]="user.first_name"
                        required>
                    <mat-error
                        *ngIf="f.firstName.errors &&  f.firstName?.invalid && (f.firstName.dirty || f.firstName.touched) && f.firstName.errors.required">
                        Firstname is required</mat-error>
                        
                </mat-form-field>
            </div>

            <div class="form-group">

                <mat-form-field appearance="fill">
                    <mat-label>Last Name </mat-label>
                    <input matInput placeholder="Enter your name" formControlName="lastName" [value]="user.last_name"
                        required>
                    <mat-error
                        *ngIf=" f.lastName.errors &&  f.lastName?.invalid && (f.lastName.dirty || f.lastName.touched) && f.lastName.errors.required">
                        Lastname is required</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">

                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="test@example.com" formControlName="email" required
                        value="{{user.email}}">
                    <mat-error
                        *ngIf=" f.email.errors &&  f.email?.invalid && (f.email.dirty || f.email.touched) && f.email.errors.required">
                        Email is required</mat-error>
                    <mat-error
                        *ngIf="f.email.errors &&  f.email?.invalid && (f.email.dirty || f.email.touched) && f.email.errors.email">
                        Email must be a valid email address</mat-error>
                </mat-form-field>

            </div>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>DOB</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Select Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option>None</mat-option>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                        <mat-option value="TransGender">Transgender</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="f.gender?.invalid && f.gender.errors.required">
                        Gender is required</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <img class="mr-2" *ngIf="user?.avatar" src="{{ user?.avatar }}" width="100" height="100" alt="avatar"
                    class="mr-3 rounded-circle img-thumbnail shadow-sm" />
            </div>

            <div class="form-group">
                <label class="pr-2 pt-2">User Status </label>
                <mat-slide-toggle formControlName="activeStatus"></mat-slide-toggle>
            </div>

            <div class="form-group">
                <div class="alignBtn">
                    <button mat-raised-button color="primary">Update</button>

                </div>
            </div>

            <!-- <div class="form-group" *ngIf="!loading">
                <div class="alignBtn">
                    <button mat-raised-button color="warn" (click)="onUserDelete(user?.id)">Delete</button>
                </div>
            </div> -->
        </form>

        <div style="min-height:500px" *ngIf="loading">
            <div class="loaderCenter">
                <mat-spinner> </mat-spinner>
            </div>
        </div>

    </mat-card-content>
</mat-card>